* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pet-navbar {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: #51cf66;
  color: #f4fce3;
}

.pet-navbar a {
  text-decoration: none;
  color: #f4fce3;
}

.pet-navbar a:hover {
  font-size: 20px;
  font-weight: bold;
}

.pet-navbar ul li {
  list-style-type: none;
}

.pet-navbar ul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.nav-icons img {
  width: 30px;
  color: #f4fce3;
}

.nav-icons img:hover {
  width: 40px;
}

.nav-img {
  filter: brightness(0) invert(1);
}

.nav-general {
  font-size: 19px;
}

.nav-general li a {
  transition: transform 0.3s ease-in-out;
}

.nav-general li a:hover {
  transform: scale(1.1);
}

/* section-1 */
.section {
  min-height: 100vh;
  padding: 10px 0;
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #51cf66;
}

.section-1 img {
  width: 700px;
}

.sec-page-1 {
  text-align: center;
  animation: fadeInUp 3s ease-out forwards;
}

.sec-page-1 h1 {
  color: #f4fce3;
  font-size: 90px;
}

.sec-page-1 p {
  font-size: 50px;
  color: #f4fce3;
}

.sec-page-2 img {
  width: 500px;
  height: 500px;
  transform: scale(1);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sec-page-2:hover img {
  transform: scale(0);
}

.section-2 {
  display: flex;
  width: 400px;
  gap: 10px;
  align-items: center;
  background-color: #51cf66;
  color: #f4fce3;
  padding: 20px;
  min-height: 150px;
  border-radius: 10px;

  box-shadow: 10px 10px 5px -1px rgba(81, 207, 102, 0.75);
  -webkit-box-shadow: 10px 10px 5px -1px rgba(81, 207, 102, 0.75);
  -moz-box-shadow: 10px 10px 5px -1px rgba(81, 207, 102, 0.75);
}

.section-2 img {
  width: 60px;
  filter: brightness(0) invert(1);
  fill: #f4fce3;
}

.article-section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 200px 0;
}

.article-section3 {
  display: flex;
  padding: 0 100px;
  justify-content: center;
  align-items: center;
  background-color: #51cf66;
  color: #f4fce3;
  font-size: 20px;
}

.article-section3 h1 {
  font-size: 50px;
}

.article-section3 p {
  font-size: 20px;
  padding-bottom: 10px;
}

.article-section3 img {
  width: 500px;
}

.button-section3 {
  background-color: #f4fce3;
  color: #51cf66;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: bold;
}

.button-section3:hover {
  background-color: #51cf66;
  color: #f4fce3;
  border: 3px solid #f4fce3;
}

.article-section4 {
  padding: 70px 70px;
}

.article-section4 h1 {
  text-align: center;
  color: #51cf66;
  font-size: 40px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-info {
  background-color: #51cf66;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.product-info h3 {
  margin-bottom: 5px;
  font-size: 1.5em;
}

.product-info p {
  font-size: 1em;
  margin-bottom: 5px;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #51cf66;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 2;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-slide img {
  width: 50%;
  height: 1000px;
}

.article-section5 {
  background-color: #51cf66;
  color: #f4fce3;
  padding: 100px;
  text-align: center;
}

.article-section5 h3 {
  font-weight: bold;
  font-size: 70px;
}

.article-section5 .service-steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.service-steps img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.service-steps img:hover {
  transform: scale(1.1);
}

.article-section5 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.article-section5 h3 {
  margin-top: 20px;
}

.article-section5 p {
  margin-bottom: 20px;
}

.article-section6 {
  padding: 100px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #51cf66;
}

.article-section6 h1 {
  font-size: 50px;
}

.article-section6 h3 {
  font-weight: bold;
  font-size: 30px;
}

.article-section6 h5 {
  font-size: 14px;
}

.article-section6 img {
  width: 30px;
  height: 30px;
}

.article-section7 {
  text-align: center;
  padding: 20px;
  color: #51cf66;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
